## Exploratory Analysis

In [7]:
# import necessary dependencies
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
# file with full dataset is too large, sampling first 1M rows of the datasets instead
df = pd.read_csv("data/test_result.csv", sep="|", nrows=1000000)
# Data Source: https://data.dft.gov.uk/anonymised-mot-test/test_data/dft_test_result_2022.zip

# Multiple test types in the datasets, some of which are re-tests
test_type_details = pd.read_csv("data/mdr_test_type.csv", header=0, sep="|")
# Data Source: https://data.dft.gov.uk/anonymised-mot-test/lookup.zip

# multiple test outcomes in the dataset details in a lookup table
test_result_details = pd.read_csv("data/mdr_test_outcome.csv", header=0, sep="|")
# Data Source: https://data.dft.gov.uk/anonymised-mot-test/lookup.zip
test_result_codes = test_result_details.result_code.unique().tolist()

In [9]:
df.head()

,test_id,vehicle_id,test_date,test_class_id,test_type,test_result,test_mileage,postcode_area,make,model,colour,fuel_type,cylinder_capacity,first_use_date
0,334683447,634775234,2022-01-01,4,NT,P,227219.0,E,TOYOTA,PRIUS,SILVER,Hybrid Electric (Clean),1497.0,2008-01-17
1,586095521,1220215709,2022-01-01,4,NT,P,136552.0,CR,TOYOTA,PRIUS,GREY,Hybrid Electric (Clean),1798.0,2013-11-29
2,960974211,1315791989,2022-01-01,4,NT,F,129847.0,E,TOYOTA,PRIUS,WHITE,Hybrid Electric (Clean),1798.0,2018-01-01
3,1041792341,1144451355,2022-01-01,4,NT,P,123133.0,TW,TOYOTA,PRIUS,SILVER,Hybrid Electric (Clean),1496.0,2016-11-21
4,1587264975,1315791989,2022-01-01,4,RT,P,129848.0,E,TOYOTA,PRIUS,WHITE,Hybrid Electric (Clean),1798.0,2018-01-01